<div class="container pb-5">
  <h2 class="h2 text-success">Cart</h2>
  <div class="row">
    <div class="col-8">

      <% cart.map do |item| %>
            <%= render partial: 'item',  locals: { book: item[:book], quantity: item[:quantity] }  %>
      <% end %>

    </div>
    <div class="col-4">

    </div>

  <div>

</div>