<div class="container pb-5">
  <div class="row">
    <div class="col-12">
      <div class="card-header">
            <hr class="my-4">
            <p class="display-4"> You cancelled the order.</p>
            <hr class="my-4">
          </div>
    </div>
  </div>
</div>